.navbar-brand{
    color:red;
}

.userCol{
    margin-top:50px;
}

.movieImg{
    width:100%;
}
img{
    width:100%;
    height:200px;
}
.fa-trash-o{
    color:red;
}


.col-xs-4{
    box-sizing: border-box;

}

.emptyCollection{
    text-align: center;
    font-weight: bold;
    color:#6E6E6E;
}
.remove{
    color:red;
    text-align: center;
    margin-bottom:-10px;
}
.remove:hover{
    text-decoration: underline;
}

.title h3{
   display:inline-block;
   margin-bottom: 0;
}
.title{
    margin:0px 5px 20px;
}
.movieDetails{
    padding:10px;
    background-color: #ddd;
    min-height:500px;
  
}

.movie{
    padding:5px;
    
}

.amount{
    width:25%;
    margin-bottom:5px;
}
